<div id="site-message" class="site-message site-message-sandbox">
	<div><strong>Sandbox:</strong> You can make changes to the output file and preview them by refreshing this page:<br/><code>/output/#{outputFile}</code></div>
</div>

script(src='/assets/app-site-message.js')