<div id="site-message" class="site-message site-message-preview">
	<div><strong>Preview:</strong> This page is indended to preview your .sketch changes in the browser, the generated code to be added to your CMS is located in:<br/><code>/output/#{outputFile}</code></div>
</div>

script(src='/assets/app-site-message.js')