.section {
	padding: $layout-margin-sm 0;
}

@media (min-width: $layout-breakpoint-md) {
	.section {
		padding-top: $layout-margin;
		padding-bottom: $layout-margin;
	}
}

.container {
	margin: 0 auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.section-rtb {
	p {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	strong + p {
		margin-top: 0.5rem;
	}
}

.text-center {
	text-align: center;
}

.image-badge {
	margin: 1.5rem 0;
}

.placeholder {
	color: $content-placeholder-color;
}