<div class="zone-a zone-a-bg-gradient">
	<div class="container">  

		<div class="content font-alt">
		if title != null
			h1 #{title}
		else
			h1 Page title

		if leadText != null
			p #{leadText}
		else
			p Description text
		</div>
		
	</div>
</div>